.navigation-wrapper {
    width: 100%;
    .navigation {
        height: 100px;
        max-width: 1340px;
        padding: 0 50px !important;
        background-color: transparent !important;
        @media screen and (max-width: 992px) {
            padding: 0 25px !important;
        }
        margin: auto;
    }
    svg.svg-inline--fa {
        color: black;
    }
    .sign-in-button svg.svg-inline--fa {
        color: white;
    }
}

.nav-links-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .navbar-items-container {
        margin: auto;

        @media screen and (max-width: 992px) {
            position: absolute;
            width: 100%;
            right: 0px;
            top: 100%;
            background-color: white;
            box-shadow:
                -2px 0px 6px rgba(0, 0, 0, 0.2),
                2px 0px 6px rgba(0, 0, 0, 0.2),
                0px 4px 6px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            padding: 10px;
            z-index: 10;
        }
    }

    @media screen and (max-width: 992px) {
        justify-content: start;
        width: fit-content;
        gap: 8px;
    }
    a {
        color: black;
        font-size: 17px;
    }

    .register-button {
        &:hover {
            color: white !important;
        }
    }
}
.navigation-wrapper-not-homepage {
    height: 200px;
    background: linear-gradient(180deg, #2969bf 0%, #144e9d 100%);
    .navbar-brand {
        color: white !important;
    }
    .nav-link {
        color: white !important;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    svg.svg-inline--fa {
        color: white;
    }
    .navbar-items-container {
        @media screen and (max-width: 992px) {
            box-shadow: unset;
            background: #1f5cae;
        }
    }
    .dropdown-menu svg.svg-inline--fa {
        color: black;
    }
    .register-button {
        color: white !important;
        border-color: white;
    }
}
