.force-left {
    text-align: left !important;
}

.toggle {
    padding-top: 5px !important;
    padding-bottom: 10px !important;
    box-shadow: none !important;
    color: #212529 !important;
    font-size: 2rem !important;

    @include media-breakpoint-up(md) {
        display: none;
    }
}

.sidebar {
    &.layout {
        @include media-breakpoint-up(md) {
            min-height: 100vh;
        }
    }
    .wrapper {
        width: 310px;
        position: fixed;
        min-width: 240px !important;
        background-color: #212529;
        @include media-breakpoint-up(md) {
            min-height: 100%;
        }
        @media screen and (max-width: 768px) {
            position: relative;
            width: 100%;
        }

        .overflow {
            display: block !important;
            height: 100% !important;
        }

        .toc {
            height: 100% !important;
            overflow: auto;
            margin-right: -15px;
            padding-right: calc(15px + 1rem);
        }

        .navbar {
            position: relative;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 1020;
        }

        .sidebar-text {
            color: white;
            @include transitions(0.5s, ease);
        }

        .sidebar-icon {
            margin-right: 0.5rem;
            color: $white;
            @include transitions(0.5s, ease);

            span {
                min-width: 22px;
            }

            svg {
                min-width: 22px;
            }

            &.svg-icon {
                margin-right: 14px;
            }
        }

        .nav-link {
            width: 100%;
            border: 0;
            border: 1px solid transparent;
            @include transitions(0.5s, ease);

            &.active {
                border: 1px solid #007bff;
                .sidebar-text {
                    color: #007bff;
                    font-weight: bold;
                }
                .sidebar-icon {
                    color: #007bff !important;
                }
                &:hover {
                    .sidebar-text {
                        color: #007bff;
                    }
                    .sidebar-icon {
                        color: #007bff !important;
                    }
                }
            }

            &:hover {
                .sidebar-text {
                    color: #ff8400;
                }
                .sidebar-icon {
                    color: #ff8400 !important;
                }
                .dropdown-icon {
                    color: #ff8400 !important;
                }
            }
        }
        .accordion-item-custom {
            border: 0;
        }

        .nav-dropdown {
            .bg-dark {
                padding: 22px 32px !important;
                border-bottom: solid 1px white;
                border-radius: unset !important;
                transition: none;
                box-shadow: none !important;
                &:focus {
                    outline: 0 !important;
                }
            }

            .collapsed {
                border: 0 !important;
            }

            .accordion-body {
                padding: 12px 12px !important;
            }

            .dropdown-icon {
                margin-left: 0.5rem;
                color: $white;

                @include transitions(0.5s, ease);
                span {
                    min-width: 22px;
                }

                svg {
                    min-width: 22px;
                    transition: transform 300ms ease-in-out;
                }
                .svg-open {
                    transform: rotate(-180deg);
                    transition: transform 300ms ease-in-out;
                }

                &.svg-icon {
                    margin-right: 14px;
                }
            }
        }
    }

    .sidebar-scroll {
        flex-basis: 310px;
        max-width: 310px;

        @media screen and (max-width: 768px) {
            flex-basis: 100%;
            max-width: unset;
            width: 100%;
        }
    }
}
