.fadeIn {
    @include keyframes(fadeIn){
        from {
            opacity: 0;
            transform: translate(-20px, 0);
        }
        to {
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }
    @include animate(fadeIn, 0.5s, ease, forwards)
}

.fadeOut {
    @include keyframes(fadeOut){
        from {
            opacity: 1;
            transform: translate(0px, 0px);
        }
        to {
            opacity: 0;
            transform: translate(-20px, 0);
        }
    }
    @include animate(fadeOut, 0.5s, ease, forwards)
}

* {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    background-color: white;
  }

.root {
    height: 100%;
}

.root-container{
    max-width: 1340px !important;
    padding: 0 50px !important;
    overflow: auto;
    padding-bottom: 180px !important;
    background-color: white;
    @media screen and (max-width: 992px) {
        padding: 0 25px !important;
    }
    margin: auto;
}

.root-container-dashboard {
    height: 100%;
    padding: 0 50px;
    background-color: white;
    @media screen and (max-width: 992px) {
        padding: 0 25px;
    }

    .dashboard-content-container {
        padding: 0 25px;
        width: 100%;
        padding-bottom: 180px !important;
    }

    .content-wrap {
        width: fit-content;
        max-width: 1340px;
        margin: 0 auto;
        overflow: auto;
    }
}