.unit-overview{
    display: flex;
    margin-top: 40px;
    gap: 20px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

    .overview {
        &-content {
            max-width: 868px;
            width: 100%;
            flex-shrink: 0;
            @media screen and (max-width: 1280px) {
                flex-shrink: 1;
            }

            .content-heading {
                h1 {
                    font-size: 32px;
                    margin-bottom: 24px;
                }
                .content-heading-description {
                    @media screen and (max-width: 767px) {
                        padding-left: 25px;
                    }
                }

                .residence-ratings {
                    margin-bottom: 12px;
                }

                .attribute {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width: 767px) {
                        align-items: start;
                    }
                    gap: 6px;

                    .font-icon {
                        color: #2f80ed;
                    }

                    p {
                        margin: 0;
                    }
                }
            }

            .content-description {
                margin-top: 30px;
                background-color: #f4f4f4;
                border-radius: 6px;

                @media screen and (max-width: 767px) {
                    padding-left: 25px;
                    margin-top: 0;
                }

                &-text {
                    padding: 25px 30px 45px;
                    @media screen and (max-width: 767px) {
                        padding-left: 0px;
                        padding-bottom: 6px;
                    }
                }

                &-text,
                &-facilities {
                    h2 {
                        font-size: 18px;
                        margin-bottom: 20px;
                    }
                }

                hr {
                    margin: 0;
                    width: 100%;
                }

                &-facilities {
                    padding: 25px 30px 40px;
                    @media screen and (max-width: 767px) {
                        padding-left: 0px;
                        padding-bottom: 0px;
                    }
                }
            }
        }
        &-aside {
            min-width: 260px;
            padding: 15px;
            background-color: rgba(47, 128, 237, 0.13);
            border-radius: 10px;
            width: 100%;
            @media screen and (max-width: 767px) {
                padding-left: 25px;
            }
            .asside-owner {
                margin-bottom: 30px;

                h2 {
                    font-size: 18px;
                    margin-bottom: 20px;
                }

                &-item {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    margin-bottom: 12px;

                    &.description {
                        align-items: baseline;
                    }

                    p {
                        margin: 0px;
                    }
                }
            }

            .aside-explore {
                h2 {
                    font-size: 18px;
                    margin-bottom: 20px;
                }

                .explore-item {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    margin-bottom: 12px;

                    p {
                        margin: 0px;
                    }

                    &-content {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                    .total {
                        border-top: 1px solid black;
                        padding-top: 12px;
                    }
                }
            }
        }
    }
}


.facility {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 13px;

    p {
        margin: 0px;
        text-align: justify;
    }

    .font-icon {
        color: #2f80ed;
    }
    .font-icon-orange {
        color: #ff8400;
    }
}
.complete-btn {
    background-color: #ff8400 !important;
    border-color: #ff8400 !important;
}