.modal-body {
    white-space: break-spaces;
    padding: 0;
    .modal-image {
        mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 10%, transparent 100%);
    }
    .dates {
        color: #007bff;
        font-weight: bold;
    }
}
