.acc-unit-tabs {
    .MuiTab-root {
        font-weight: bold;
        font-size: 14px;
    }
    .Mui-selected {
        color: #007bff !important;
    }
    .MuiTabs-indicator {
        background-color: #007bff !important;
    }
}
