.image-uploader__image-container {
    .image-uploader__card{
        max-width: 600px;

        .delete-image-button {
            color: #ff8400 !important;
            background-color: transparent;
            border: 0;
            &:hover {
                background-color: black ;
            }
        }
        .image-uploader__image {
            height: 240px;
        }
    }
}

