
.finished {
    background-color: rgb(201, 198, 198);
}
.upcoming {
    background-color: rgb(109, 194, 109);
}
.active {
    background-color: rgb(114, 205, 241);
}
.cancelled {
    background-color: rgb(201, 116, 116);
}
