.user-profile-dropdown {
    position: relative;
    .avatar-container {
        box-shadow: unset;
        padding: 0;
        background-color: transparent !important;
        border: 0;
        &::after {
            display:none;
        }
        img {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
        svg {
            transition: transform 300ms ease-in-out;
        }
        .svg-open {
            transform: rotate(180deg);
            transition: transform 300ms ease-in-out;
        }
    }

    .dropdown-menu {
        right: -25% !important;
        left: auto !important;
        .username{
            text-align: center;
            border-bottom: 1px solid black;
            padding-bottom: 10px;
            font-weight: bold;
        }
    }
}
